<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/404design.css">
</head>
<style>

</style>
<body>
    <h1>Page Not found</h1>
    <p>Sorry the page that you are looking doesn't exist</p>

    <%- include('includes/end.ejs') %>