
* {
    color: white;
    font-family: sans-serif;
    transition: 0.2s ease-in-out;
    user-select: none;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #252A34;
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
}

.turn-container {
    width: 170px;
    height: 80px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.turn-container h3 {
    margin: 0;
    font-size: 25px;
    margin-bottom: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.turn-container .turn-box {
    border: 3px solid #000;
    font-size: 1.6rem;
    font-weight: 700;
}

.turn-container .turn-box:nth-child(even) {
    border-right: none;
}

.bg {
    position: absolute;
    bottom: 0;
    width: 85px;
    height: 40px;
    background-color: #FF2E63;
    z-index: -1;
    transition: left 0.3s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 350px;
    width: 350px;
    margin: 20px auto;
    border: 2px solid #000;
    grid-gap: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background-color: #1f2833;
}

.box {
    cursor: pointer;
    font-size: 3rem;
    font-weight: 700;
    border: 2px solid #000;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.5s ease;
}

.box:hover {
    background-color: #FF2E63;
}

#results {
    margin-top: 20px;
}

#play-again,
#go-back {
    background-color: #FF2E63;
    padding: 10px 25px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    margin-top: 10px;
    transition: all 0.3s ease;
    margin: 0 10px;
}

#play-again:hover,
#go-back:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px 40px;
    background-color: #08D9D6;
    color: #000;
}

.player-name-display{
    font-size: 1.6rem;
    margin-bottom: 15px;
}

