
* {
    color: white;
    font-family: 'Arial', sans-serif;
    transition: all 0.2s ease-in-out; 
    user-select: none; 
    box-sizing: border-box;
}


body {
    background-color: #252A34;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px; 
}


.main_section{
    margin: auto;
    padding: 0;
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.landing-container {
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    background-color: #252A34;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 4px solid #000; 
    transition: border-color 0.3s ease-in-out;
}

@media (max-width: 1025px) {
    .main_section{
        margin: auto;

        width: 50%;
    }
}

@media (max-width: 636px) {
    .main_section{
        margin: auto;
        width: 95%;

    }
    .landing-container{
        padding: 16px;
    }
    h1{
        font-size: 38px;
    }
}




.landing-container:hover {
    border-color: #08D9D6; 
}




.options, button {
    margin-bottom: 15px; 
}


button {
    background-color: #FF2E63;
    padding: 15px 30px; 
    border: none;
    font-size: 1.4rem; 
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #08D9D6;
}


.symbol-choice {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 50%;
    border: 2px solid #FF2E63;
    line-height: 48px;
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.symbol-choice:hover {
    border-color: #08D9D6; 
}

.symbol-choice.selected {
    background-color: #FF2E63;
    color: white;
}


.custom-select {
    position: relative;
    transition: border-color 0.3s ease-in-out;
}

.custom-select:hover {
    border-color: #08D9D6; 
}

.custom-select select {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border: 2px solid #FF2E63;
    border-radius: 10px;
    padding: 10px 20px; 
    font-size: 1.2rem; 
    color: white;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.custom-select select:focus {
    background-color: rgba(37, 42, 52, 0.8);
}

.custom-select::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: white;
}


.custom-select select option {
    background-color: rgba(37, 42, 52, 0.8);
    color: white;
    text-align: center;
}


#playerName {
    border-width: 3px;
    border-color: #FF2E63;
    background-color: #252A34;
    border-radius: 10px;
    padding: 20px 0px; 
    width: 100%; 
    height: 32px; 
    margin: 10px auto; 
    color: white; 
    font-size: 1.2rem;
    text-align: center;
}

.custom-input::placeholder {
    text-align: center;
    color: white;
    opacity: 0.4;
    font-size: 1rem;
}


.error_statement {
    color: red;
    font-size: 1.2rem;
}

.error_input {
    border-color: red !important;
}
